%title= "Word Games | Madlibs"
.page-header
  %h1= @page_name || "Page Name"
- flash && flash.each do |key, value|
  .alert{:class => "alert-#{key}"}
    %a.close{:href => '#', :'data-dismiss' => "alert"}×
    = value
= yield

%footer